.container {
  text-align: center;
  padding: 12.5rem var(--sz-content-side-padding) 9.72rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--clr-white);
  background: url('../../assets/images/bg-pattern-intro-mobile.svg') no-repeat,
    linear-gradient(
      140deg,
      var(--clr-gradient-red-ltr) 20%,
      var(--clr-gradient-red-dkr) 75%
    );
  background-size: 82rem auto;
  background-position: -20.5rem -15rem, 50%;
  border-bottom-left-radius: var(--br-section-round-corner);
}

.container h1 {
  font-size: 2.1rem;
  line-height: 1.35;
}

.container p {
  margin-top: 0.7rem;
  font-size: 1.2rem;
  letter-spacing: -0.6px;
  line-height: 1.2;
}

.container > div {
  align-self: stretch;
  padding: 0 0.7rem;
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}

.button {
  flex: 1;
  min-width: 0;
  font-weight: var(--fw-600);
}
