.section {
  --image-height: 25rem;
  --image-offset: calc((var(--image-height) * 0.465));
  position: relative;
  margin-top: calc(var(--image-offset) + 1.8rem);
  padding: 10rem 2rem 7.15rem;
  background: url('../../assets/images/bg-pattern-circles.svg') no-repeat,
    linear-gradient(var(--clr-gradient-blue-dkr), var(--clr-gradient-blue-ltr));
  background-size: 37.5rem;
  background-position: 50% -14.5rem, 0;
  color: var(--clr-white);
  border-top-right-radius: var(--br-section-round-corner);
  border-bottom-left-radius: var(--br-section-round-corner);
}

.image {
  position: absolute;
  max-width: unset;
  height: var(--image-height);
  top: calc(var(--image-offset) * -1);
  left: 50%;
  transform: translateX(-50%);
}

.header {
  margin: 4.2rem 0 1.2rem;
  text-align: center;
  font-size: 2.4rem;
  line-height: 1.27;
  letter-spacing: -0.75px;
}

.message {
  color: inherit;
}
