.menuButton {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.menuButton svg {
  height: 2rem;
  margin-top: 0.45rem;
}

.menuButton path:nth-child(1) {
  transition: transform 200ms ease-in-out;
  transform-origin: center;
}

.menuButton path:nth-child(3) {
  transition: transform 200ms ease-in-out;
  transform-origin: center;
}

.menuButton.open path:nth-child(1) {
  transform: rotate(45deg) translateY(23%);
}

.menuButton.open path:nth-child(3) {
  transform: rotate(-45deg) translateY(-27%);
}

.menuButton path:nth-child(2) {
  transition: opacity 100ms ease-in;
}

.menuButton.open path:nth-child(2) {
  opacity: 0;
}

.nav {
  --top: 5.3rem;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: calc(100% - (var(--side-spacing) * 2));
  margin: 0 var(--side-spacing);
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  border-radius: 6px;
  padding: 0.75rem 1.5rem;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.nav.open {
  animation: openMenu;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.nav.close {
  animation: closeMenu;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

ul {
  padding: 0;
  list-style: none;
}

.auth {
  margin-top: 0.5rem;
  padding: 2rem 1rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--clr-grayish-blue-200);
}

.auth a {
  text-decoration: none;
}

.auth .login {
  font-size: 1.1rem;
  font-weight: var(--fw-600);
  color: var(--clr-blue-700);
}

.auth .signup {
  margin-top: 1.1rem;
  padding: 0.7rem 2.35rem;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: var(--fw-600);
  color: var(--clr-white);
  background: linear-gradient(
    90deg,
    var(--clr-gradient-red-ltr),
    var(--clr-gradient-red-dkr)
  );
}

@keyframes openMenu {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
    opacity: 0;
    top: -15%;
  }
  100% {
    visibility: visible;
    opacity: 1;
    top: var(--top);
  }
}

@keyframes closeMenu {
  0% {
    visibility: visible;
    opacity: 1;
    top: var(--top);
  }
  99% {
    visibility: visible;
    opacity: 0;
    top: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    top: 0;
  }
}
