.navItem {
  display: flex;
  flex-direction: column;
  flex-direction: center;
}

.navItem + .navItem {
  margin-top: 1.1rem;
}

.navItem > span {
  cursor: pointer;
  margin: 0 auto;
  text-decoration: none;
  padding: 0.2rem 0;
  color: var(--clr-blue-700);
  font-size: 1.15rem;
  font-weight: var(--fw-600);
  display: flex;
  align-items: center;
  letter-spacing: -0.3px;
  transition: color 100ms ease-in;
}

.navItem > span::after {
  content: '';
  height: 0.8rem;
  width: 0.8rem;
  background: url('../../assets/images/icon-arrow-dark.svg') center no-repeat;
  margin-left: 0.38rem;
  margin-bottom: 0.1em;
  transition: transform 100ms ease-in;
}

.navItem.open > span {
  color: var(--clr-blue-600);
}

.navItem.open > span::after {
  transform: rotate(-180deg);
}

.subMenu {
  display: none;
  margin-top: 1rem;
  padding: 1.5rem 1rem 1.3rem;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-grayish-blue-100);
  border-radius: 6px;
}

.subMenu.open {
  display: flex;
}

.subMenu > li + li {
  margin-top: 1rem;
}

.subMenu a {
  text-decoration: none;
  color: var(--clr-blue-600);
  font-size: 1rem;
  font-weight: var(--fw-600);
}
