.footer {
  margin-top: 3.4rem;
  padding: 4.7rem var(--sz-content-side-padding) 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-blue-900);
  color: var(--clr-white);
  border-top-right-radius: var(--br-section-round-corner);
  font-family: var(--ff-ubuntu);
}

.footer > h1 > img {
  height: 2.5rem;
  margin-bottom: 3rem;
}

.footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.75rem 0 1.25rem;
}

.footer > div > h2 {
  font-size: 1.13rem;
  font-weight: var(--fw-700);
}

.footer > div > a {
  margin-top: 0.9rem;
  font-size: 1.2rem;
  font-weight: var(--fw-400);
  color: var(--clr-grayish-blue-200);
  text-decoration: none;
  line-height: 1;
}

.footer > div > a:hover {
  text-decoration: underline;
  color: var(--clr-white);
}

.footer > div > a:first-of-type {
  margin-top: 1.9rem;
}
